# Ignore dataset folder
dataset/

# Ignore VSCode settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

#Ignore any other temporary files
*.tmp
*.bak